@using IssueTracker.Models,
@using IssueTracker.Helpers,
@model ApplicationUser
@{
    ViewBag.Title = "ManageUserRoles";
    var rolesHelper = new RolesHelper();
}


<div class="container">
    <div class="page-inner">
        <div class="card text-center" style="width: 36rem;">
            <div class="card-body">
                <h2 class="card-title">Manage User Role for:</h2>
                <h4 class="mt-xl-3">@Model.FullName</h4>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    
                    <div class="form-group">
                        @Html.DropDownList("RoleName", "-- NO ROLE --")
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success btnWide">Save Changes</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<footer class="footer">

    <div class="container-fluid">
        <img src="~/Images/TrackIT1.1Light100x40.png" />
        <div class="copyright ml-auto">
            <p>&copy; @DateTime.Now.Year - <a href="//betholmo-portfolio.netlify.app/" target="_blank">Beth Olmo</a></p>
        </div>
    </div>
</footer>