
@{
    ViewBag.Title = "ConfirmationSent";
}

<h2>ConfirmationSent</h2>

<h4>Please check your Inbox for the latest email confirmation link. Check your spam folder if you do not see it within a few moments.</h4>