
@{
    ViewBag.Title = "ConfirmationSent";
}

<body>
    <div class="container">
        <div class="page-inner">
            <h2>Confirmation Sent</h2>

            <h4>Please check your email inbox for the latest email confirmation link. Check your Spam folder if you do not see it within a few moments.</h4>

        </div>
    </div>
</body>