@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<title>Password Link Sent - TrackIT | Beth Olmo</title>
<body>
    <div class="container">
        <div class="page-inner">
            <div class="col-md-4">
                <div class="card card-dark bg-warning-gradient">
                    <div class="card-body pb-lg-0">
                        <div class="h1 fw-bold float-right"></div>
                        <h1 class="align-middle mb-5">Password Reset Link Sent</h1>
                    </div>
                </div>

                <div class="card-body">
                    <h2>
                        Please check your email to reset your password.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</body>
<footer class="footer">

    <div class="container-fluid">
        <img src="~/Images/TrackIT1.1Light100x40.png" />
        <div class="copyright ml-auto">
            <p>&copy; @DateTime.Now.Year - <a href="//betholmo-portfolio.netlify.app/" target="_blank">Beth Olmo</a></p>
        </div>
    </div>
</footer>

