@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<body>
    <div class="container">
        <div class="page-inner">
            <hgroup class="title">
                <h1>Password Reset Link Sent</h1>
            </hgroup>
            <div>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</body>

