@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}
<title>Password Reset - TrackIT | Beth Olmo</title>

<head>
    <script src="~/Scripts/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: {
                "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ["~/Content/fonts.min.css"]
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fonts.min.css" rel="stylesheet" />
    <link href="~/Content/atlantis.css" rel="stylesheet" />
    <link href="~/Content/atlantis2.css" rel="stylesheet" />

</head>

<body class="login">
    <div class="wrapper wrapper-login wrapper-login-full p-0">
        <div class="login-aside w-50 d-flex flex-column align-items-center justify-content-center text-center bg-secondary-gradient-account">
            <h1 class="title fw-bold text-white mb-3">TrackIT</h1>
            <p class="subtitle text-white mb-3">Support Ticket tracking and management.</p>
        </div>
        <div class="login-aside w-50 d-flex align-items-center justify-content-center bg-white">
            <div class="container container-login container-transparent animated fadeIn">

                <div class="login-form">
                    <h1 class="align-middle mb-5">Password Reset Successful</h1>
                   
                    <div class="login-account">
                        <a href="~/Account/Login" class="btn btn-block btn-success">Login</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>


