@{
    ViewBag.Title = "Reset password confirmation";
}
<title>Password Reset - TrackIT | Beth Olmo</title>

<body>
    <div class="container">
        <div class="page-inner">
            <div class="col-md-4">
                <div class="card card-dark bg-warning-gradient">
                    <div class="card-body pb-lg-0">
                        <div class="h1 fw-bold float-right"></div>
                        <h1 class="align-middle mb-5">Password Reset Successful</h1>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div>
                            <p>
                                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer class="footer">

    <div class="container-fluid">
        <img src="~/Images/TrackIT1.1Light100x40.png" />
        <div class="copyright ml-auto">
            <p>&copy; @DateTime.Now.Year - <a href="//betholmo-portfolio.netlify.app/" target="_blank">Beth Olmo</a></p>
        </div>
    </div>
</footer>

