@using Microsoft.AspNet.Identity;
@using IssueTracker.Helpers;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />

    <!-- Fonts and icons -->
    <script src="~/Scripts/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: {
                "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['~/Content/fonts.css']
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/atlantis.css" rel="stylesheet" />
    <link href="~/Content/datatables.css" rel="stylesheet" />
    <link href="~/Content/responsive.dataTables.css" rel="stylesheet" />


</head>

@{
    var userHelper = new UserHelper();
    var userId = User.Identity.GetUserId();
    var user = userHelper.GetFullName(userId);
    var userAvatar = userHelper.GetAvatarPath();

}

<body data-background-color="dark">
    <div class="wrapper">
        <div class="main-header">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="dark2">

                <a href="~/Home/Index" class="logo">
                    <img src="~/Images/TrackIT1.1Light100x40.png" alt="navbar brand" class="navbar-brand">
                </a>
                @*<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                            data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <i class="icon-menu"></i>
                        </span>
                    </button>
                    <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="icon-menu"></i>
                        </button>
                    </div>*@
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg" data-background-color="dark">

                <!--<div class="container-fluid">
                    <nav class="pull-right">
                        <ul class="nav">
                            <li class="nav-item">
                            </li>


                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">-->
                <!-- NOTIFICATIONS HERE -->
                <!-- QUICK ACTION ITEMS CODE HERE -->
                <!-- QUICK SIDEBAR CODE HERE-->
                <!-- PROFILE DROPDOWN w LOG IN/OUT, ETC-->
                <!--</ul>
                </div>-->
            </nav>
            <!-- End Navbar -->
        </div>

        <!-- Sidebar -->
        <div class="sidebar sidebar-style-2" data-background-color="dark2">
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <div class="user">
                        <div class="avatar-sm float-left mr-2">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <img src="@userAvatar" class="avatar-img rounded-circle" />
                            }
                        </div>
                        <div class="info">
                            @*<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">*@
                            <span>
                                @user
                                <span class="user-level"></span>
                                @*<span class="caret"></span>*@
                            </span>
                            @*</a>*@
                            <div class="clearfix"></div>


                        </div>
                    </div>
                    <br />
                    <ul class="nav nav-primary">

                            @*<li class="nav-item">
                                <a class="btn btn-warning mb-xl-5" href="#"><span class="btn-label"></span>My Account</a>
                            </li>*@

                        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                        {
                            <li class="nav-item">
                                <a class="btn btn-success mt-xl-5" href=@Url.Action("ProjectWizard", "Projects")><span class="btn-label"></span>New Project</a>
                            </li>
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                        {
                            <li class="nav-item">
                                <a class="btn btn-success mt-xl-5" href=@Url.Action("ProjectWizard", "Projects")><span class="btn-label"></span>New Project</a>
                            </li>
                        }

                        @if (User.IsInRole("Submitter"))
                        {
                            <li class="nav-item">
                                <a class="btn btn-success mt-xl-5" href=@Url.Action("Create", "Tickets")><span class="btn-label"></span>New Ticket</a>
                            </li>
                        }



                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="btn btn-success mt-xl-5" href=@Url.Action("ManageUserRole", "Users")><span class="btn-label"></span>User Role</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="btn btn-danger mt-xl-5" href=@Url.Action("Login", "Account")><span class="btn-label"></span>Log Off</a>
                        </li>

                        <li class="nav-item">
                            <a class="btn btn-warning mt-xl-5" href=@Url.Action("About", "Home")><span class="btn-label"></span>About TrackIT</a>
                        </li>



                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->
        <!-- MAIN -->
        <div class="main-panel">

            @RenderBody()

        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="~/Scripts/jquery.3.2.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/Scripts/jquery.scrollbar.min.js"></script>

    <!-- Moment JS -->
    <script src="~/Scripts/moment.min.js"></script>

    <!-- Chart JS -->
    <script src="~/Scripts/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="~/Scripts/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="~/Scripts/circles.min.js"></script>

    <!-- Datatables -->
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/dataTables.responsive.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="~/Scripts/bootstrap-notify.min.js"></script>

    <!-- Bootstrap Toggle -->
    <script src="~/Scripts/bootstrap-toggle.min.js"></script>


    <!-- Dropzone -->
    <script src="~/Scripts/dropzone.min.js"></script>

    <!-- Fullcalendar -->
    <script src="~/Scripts/fullcalendar.min.js"></script>

    <!-- DateTimePicker -->
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

    <!-- Bootstrap Tagsinput -->
    <script src="~/Scripts/bootstrap-tagsinput.min.js"></script>

    <!-- Bootstrap Wizard -->
    <script src="~/Scripts/bootstrapwizard.js"></script>

    <!-- jQuery Validation -->
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <!-- Select2 -->
    <script src="~/Scripts/select2.full.min.js"></script>

    <!-- Sweet Alert -->
    <script src="~/Scripts/sweetalert.min.js"></script>

    <!-- Atlantis JS -->
    <script src="~/Scripts/atlantis.js"></script>


    @RenderSection("scripts", required: false)
</body>

</html>